<div class="entry location">
  <h2>Location Name</h2>
  <div class="info">
    <div class="field">
      <label for="loc-type">Type:</label>
      <input type="text" id="loc-type" name="loc-type">
    </div>
    <div class="field">
      <label for="loc-description">Description:</label>
      <textarea id="loc-description" name="loc-description"></textarea>
    </div>
    <div class="field">
      <label for="loc-image">Image URL:</label>
      <input type="text" id="loc-image" name="loc-image">
    </div>
  </div>
</div>
