<div class="entry organization">
  <h2>Organization Name</h2>
  <div class="info">
    <div class="field">
      <label for="org-type">Type:</label>
      <input type="text" id="org-type" name="org-type">
    </div>
    <div class="field">
      <label for="org-description">Description:</label>
      <textarea id="org-description" name="org-description"></textarea>
    </div>
    <div class="field">
      <label for="org-leader">Leader:</label>
      <input type="text" id="org-leader" name="org-leader">
    </div>
  </div>
</div>
