/*
    Background.
 */

* {
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    color: #FBFAF5;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hidden {
    display: none;
}

/*
    Sidebar.
 */

.sidebar {
    width: 244px;
    background-color: #333;
    padding: 1rem;
    height: 100vh;
    position: fixed;
    overflow: auto;
}

.notebook-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notebook-list li {
    padding-bottom: 3px;
    padding-top: 3px;
    cursor: pointer;
}

.notebook-list li:hover {
    background-color: #555;
}

.notebook-list li.active {
    font-weight: bold;
}

/*
    Text-entry.
 */

.content {
    width: 100%;
    margin-left: 244px;
    padding: 1rem;
}

/*
    Text-entry.
 */

#text-entry-title {
    text-align: center;
}

#tags-container-module {
    margin-top: 35px;
}

#text-entry-container {
    padding-top: 20px;
    line-height: 1.5;
    position: relative;
}

.text-content {
    margin-top: 15px;
}

.rectangle-transparent-button {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 5px;
}

.rectangle-transparent-button i {
    font-size: 24px;
    color: #555;
}

.rectangle-transparent-button:hover i {
    color: #FBFAF5;
 }

#text-entry-edit-btn {
    background-color: transparent;
}

#text-entry-save-btn {
     background-color: transparent;
 }

.ql-toolbar {
    margin-top: 15px;
}

/*
    Tag-related elements.
*/

button {
    cursor: pointer;
    border: none;
}

.tag {
    background-color: #444;
    color: #FBFAF5;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.1s ease-in-out;
}

.tag:after {
    margin-left: 10px;
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

button:hover {
    background-color: #555;
}

/*
    Tag-search drop-down menu.
*/

.search-bar-container {
    position: relative;
    display: inline-block;
}

#search-bar-input {
    height: 30px;
    width: 225px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #333;
    color: #FBFAF5;
}

#search-bar-input:focus {
    outline: none;
    border: 1px solid #555;
    padding: 4px;
}

#search-results-container {
    position: absolute;
    top: 30px;
    left: 0;
    width: 225px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #333;
    border: 1px solid #555;
    border-top: none;
    display: none;
}

.search-result {
    padding: 5px;
    cursor: pointer;
}

.search-result:hover {
    background-color: #444;
}

/*
    CSS for text-entries
 */

.entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.character h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.character .info {
    display: flex;
    flex-wrap: wrap;
}

.character .field {
    flex: 1 1 50%;
    padding: 5px;
    box-sizing: border-box;
}

.character .field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.character .field input,
.character .field textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.character .field textarea {
    height: 100px;
}

.location .field,
.organization .field {
    flex: 1 1 100%;
}

.location .field input[type="text"],
.organization .field input[type="text"] {
    width: 100%;
}

.location .field textarea,
.organization .field textarea {
    width: 100%;
    height: 100px;
}

/*
    CSS for the landing page
 */

#landing-page-content h1 {
    display: flex;
    justify-content: center;
}

#entry-search-input {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #FBFAF5;
}


#entry-search-input:focus {
    outline: none;
}

#entry-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
#entry-table td, #entry-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}
#entry-table th {
    background-color: #444;
}
#entry-table tr:hover {
    background-color: #444;
    cursor: pointer;
}